body,
textarea,
input {
  font-family: "Open Sans";
  font-size: 14px;
}
html,
body {
  color: #383838;
  height: 100%;
  min-height: 100% !important;
}
body {
  background: #fff;
}

.mirror-top,
.mirror-left,
.mirror-right,
.mirror-bottom,
.krastas-vertical,
.krastas-horizontal {
  display: none;
}

.bxslider li {
  border-radius: 10px;
  overflow: hidden;
}

#slider {
  width: 100%;
}

.left-side {
  float: left;
  width: 220px;
}
.left-side h3 {
  margin-top: 10px;
}

.picture {
  cursor: move;
  overflow: hidden;
  width: 500px;
  float: left;
  position: relative;
  z-index: 5;
}
.nuotrauka {
  cursor: move;
  overflow: visible;
  width: 500px;
  float: left;
  position: relative;
  z-index: 5;
}
.picture #image {
  position: relative;
  z-index: 4;
}
#image {
  cursor: move;
}
.right-side {
  float: right;
  width: 150px;
}

.emptyborder {
  background: white;
  float: left;
}

.bad {
  border: 1px solid red;
}

.nospace p {
  padding: 0px;
}

.space {
  position: relative;
}

.punktas {
  cursor: pointer;
  margin-bottom: -3px;
}
.punktas img {
  position: relative;
  top: 0px;
  padding-right: 5px;
}
.d {
  border: 1px solid red;
}
.c {
  clear: both;
}

.krastas-vertical {
  width: 20px;
  height: 500px;
  overflow: hidden;
  float: left;
  position: relative;
  position: relative;
  z-index: 500;
}
.krastas-horizontal {
  height: 20px;
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 500;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.l {
  float: left;
}
.r {
  float: right;
}
.c:after {
  clear: both;
}
.c:before,
.c:after {
  content: "";
  display: table;
}
.ui-slider-handle {
  background: #e63a29 !important;
  border-radius: 20px !important;
  height: 25px !important;
  width: 25px !important;
  margin-top: -3px;
}

.picture {
  box-sizing: border-box;
}

body {
  margin: 0;
}
#drop-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 200px;
  border: solid 3px #d3d3d3;
  border-radius: 10px;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#canvas {
  display: none;
}

.mirror-top {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
}

.mirror-bottom {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
}

.mirror-right {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.mirror-left {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
